<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CalculatorOne</servlet-name>
        <servlet-class>calculator.controller.CalculatorOne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculatorTwo</servlet-name>
        <servlet-class>calculator.controller.CalculatorTwo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculatorThree</servlet-name>
        <servlet-class>calculator.controller.CalculatorThree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculatorFour</servlet-name>
        <servlet-class>calculator.controller.CalculatorFour</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculatorOne</servlet-name>
        <url-pattern>/calc1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculatorTwo</servlet-name>
        <url-pattern>/calc2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculatorThree</servlet-name>
        <url-pattern>/calc3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculatorFour</servlet-name>
        <url-pattern>/calc4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
